@page "/"
<div style="margin-top: 10%;">
    <div class="loginContainer">
        <h1 style="text-align: center; margin-bottom: 30px;">HackLock</h1>
        @if (!Unlocked)
        {
            <Login UnlockCallback="UnlockCallback"/>
        }
        else
        {
            <Unlocked FinishedCallback="@(() => LockCallback())" InitialTime="30"/>
        }
        
        
    </div>

    
</div>


@code {
    private bool Unlocked { get; set; }


    private void UnlockCallback() => 
        Unlocked = true;

    private void LockCallback() =>
        Unlocked = false;

}
